body{
    font-family:'Poppins', sans-serif;
}


h1{
    font-size:35px ;
    margin:2px;
    font-weight:bold ;

    
}


.half-width{
    width:50%;
    padding-left:100px;
    padding-top:80px
    
}

.head-color{
    color: orange;
    margin-bottom: 20px;
}
.heading-border{
    border: 3px solid rgb(41, 120, 134) ;
    border-radius:3px ;
    padding-left: 5px;
    border-bottom:1px;
    border-top: 1px;
    border-right: 1px;
}
.first-step{
    display:flex;


}
.link-button{
    background-image: linear-gradient(rgb(82, 80, 80),rgb(41, 120, 134));
    text-decoration:none ;
    padding:2px 1px;
    border-radius:4px;
    color:white;
    font-weight:700px;
}
.first-pic{
  
    height:400px;
    width:400px;
    border:10px solid gray;
    border-radius:500px;

}
.text-decoration{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
    
}
#yr-color{
    color:orange;
}
.ilu-pic{

    height:150px;
    width:150px;
    padding-left:0px;
}
   
.ilu-1-color{
    background-color: rgb(245, 220, 245);
    border-radius: 30px;
    height:420px;
    width:250px;
    padding-left:70px ;
    padding-right:10px ;

}
.ilu-2-color{
    background-color: rgb(229, 245, 244);
    border-radius: 30px;
    height:420px;
    width:250px;
    padding-left:70px ;
    padding-right:10px ;
    

}
.ilu-3-color{
    background-color: rgb(192, 240, 131);
    border-radius: 30px;
    height:420px;
    width:250px;
    padding-left:70px ;
    padding-right:10px ;

}
.block-pera{
    display:flex ;
    width:80%;
    margin:0% auto;
    justify-content:space-around;
}
.sec-3{
    width:80%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    margin-top:40px;
    padding-top:40px ;
}
.second-pic{

    height:300px;
    width:400px;
    border-radius: 20px;
}
.side-left{
    width:40%;
}
.side-right{
    width:40%;

}
.thired-step{
    background-image: url(images/image.png);
    background-repeat: no-repeat;
   
    




}
